footer {
  padding: 20px;
}

/* delete/fix after implementation */
#description {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  background-color: aliceblue;
}

/* delete/fix after implementation */
#services {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  background-color: aliceblue;
}

#newsletter {
  padding: 20px;
}

@media(max-width: 575px) {
  button.full-width {
      width: 100%;  
  }
}