body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  padding: 20px;
}

#description {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  background-color: aliceblue;
}

#newsletter {
  padding: 20px;
}

@media(max-width: 575px) {
  button.full-width {
      width: 100%;  
  }
}

/* Section: Services */
.services {
  border-top: 1px solid #d7d7d7;
  background-color: #f3f5fd;
}
